:root {
	--chat--color-primary: #1a1a1a;
	--chat--color-primary-shade-50: #333333;
	--chat--color-primary-shade-100: #4d4d4d;
	--chat--color-secondary: #666666;
	--chat--color-secondary-shade-50: #808080;
	--chat--color-white: #e0e0e0;
	--chat--color-light: #2b2b2b;
	--chat--color-light-shade-50: #232323;
	--chat--color-light-shade-100: #1f1f1f;
	--chat--color-medium: #3a3a3a;
	--chat--color-dark: #0d0d0d;
	--chat--color-disabled: #555555;
	--chat--color-typing: #3e3e3e;

	--chat--spacing: 1rem;
	--chat--border-radius: 0.5rem;
	--chat--transition-duration: 0.2s;

	--chat--window--width: 400px;
	--chat--window--height: 600px;

	--chat--textarea--height: 50px;

	--chat--message--bot--background: var(--chat--color-light-shade-50);
	--chat--message--bot--color: var(--chat--color-white);
	--chat--message--user--background: var(--chat--color-primary-shade-50);
	--chat--message--user--color: var(--chat--color-white);
	--chat--message--pre--background: rgba(255, 255, 255, 0.1);

	--chat--toggle--background: var(--chat--color-primary);
	--chat--toggle--hover--background: var(--chat--color-primary-shade-50);
	--chat--toggle--active--background: var(--chat--color-primary-shade-100);
	--chat--toggle--color: var(--chat--color-white);
	--chat--toggle--size: 64px;

	--chat--heading--font-size: 2em;
}
